@import "base.less";

ul#kana-chart {
	height: 480px - 20px - 44px;
	overflow: scroll;
	margin: 0;

	li {
		border-top: 1px solid #ccc;
		padding: 10px 5px;

		.head {
			float: left;
			padding-top: 20px;
			margin: 10px 18px 0 16px;
			text-align: center;
			.kana {
				font-size: 28px;
				line-height: 28px;
				padding: 6px;
				font-weight: bold;
				font-family: @JapaneseGothicFontFamily;
				border-radius: 6px;
				background-color: #aaa;
				color: #fff;
				float: left;
			}
			.romaji {
				font-size: 18px;
				line-height: 42px;
				color: #777;
			}
		}

		.item {
			float: left;
			width: 44px;
			text-align: center;
			.kana {
				font-size: 32px;
				line-height: 46px;
				font-family: @JapaneseMinchoFontFamily;
			}
		}
		.dup {
			color: #aaa;
		}
	}

	li.youon {
		.head {
			margin-right: 12px;
		}
		.item {
			width: 66px;
			.kana {
				font-size: 26px;
			}
		}
	}
}
